body {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-weight: 900;
}

h3 {
	font-weight: 700;
}

p {
	color: #8f8f8f;
}

#title {
	background-color: #ff4c68;
}

.container-fluid {
	padding: 3% 15%;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
}

.nav-item {
	padding: 0 1rem;
	font-size: larger;
}

.navbar {
	padding: 0 0 10vh;
}

.row {
	height: 30rem;
}
.row h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1.5;
	margin-bottom: 3rem;
}

.col-lg-6 img {
	position: relative;
	transform: rotate(30deg);
	width: 60%;
}

.col-lg-6 .btn {
	margin-right: 1rem;
}

/* Features Section */

#features {
	background-color: white;
	display: inline-block;
	position: relative;
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;
}

#features div {
	width: 15rem;
	margin: 0 auto;
}

#features i {
	color: #ef8172;
	font-size: 70px;
	margin-bottom: 1rem;
}

#features i:hover {
	color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
	background-color: #ef8172;
	color: white;
	text-align: center;
}

#testimonials img {
	border-radius: 100%;
	margin: 1.5rem;
	width: 120px;
}

.carousel-item {
	padding: 8rem 23rem 2.5rem;
}

#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 6rem;
}

#press img {
	width: 15%;
	margin: 0 2rem;
}

/* Pricing Section */

#pricing {
	margin-bottom: 10rem;
	text-align: center;
}

#pricing .col-12 {
	margin-bottom: 20px;
}

#pricing .col-md-6 p:last-of-type {
	padding-bottom: 41px;
}

/* CTA */

#cta {
	background-color: #ff4c68;
	text-align: center;
	padding-left: 22rem;
	padding-right: 22rem;
}

#cta h3 {
	color: #fff;
	font-size: 40px;
	font-weight: 900;
	padding: 2rem;
}

#cta .btn {
	margin: 0 1rem 3rem;
}

/* Footer */

#footer {
	text-align: center;
}

#footer i {
	margin: 2rem 0.7rem;
}
/* Mobile Site */

@media screen and (max-width: 990px) {
	#title {
		text-align: center;
		padding-bottom: 25rem;
	}

	.col-lg-6 img {
		padding-top: 40px;
		position: static;
		transform: rotate(0);
		/* width: 20%; */
	}
}
