:root {
	--red: #ff0000;
	--blue: #fff000;
	--green: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rebeccapurple;
}

h1 {
	background-color: white;
	max-width: 70%;
	height: calc(20rem);
	margin: auto;
	text-align: center;
	color: var(--blue);
	position: relative;
	padding: auto 0;
	column-count: 2;
	column-gap: 0;
}

section {
	background-color: grey;
	height: 30em;
	display: flex;
	width: 80%;
	position: relative;
	/* align-items: center; */
	/* justify-content: center; */
	/* position: relative; */
	/* text-align: center; */

	/* margin-top: auto; */
}

body div {
	background-color: red;
	width: 10rem;
	height: 10rem;
	/* border: ; */
	/* display: inline-block; */

	/* margin: 0 auto; */

	/* transform: ; */
	/* margin: 0 2em; */
	/* flex-grow: 1; */

	/* margin: auto; */

	/* display: inline-block; */
}

div:nth-child(2) {
	background-color: blue;
	position: relative;
	/* left: 200px; */
	/* margin-left: auto; */
	/* align-self: stretch; */
}

div:nth-child(3) {
	background-color: green;
	position: fixed;
	top: 0px;

	/* position: fixed; */
	/* left: 20px; */
	/* width: 40rem; */
	/* width: 10rem;
	height: 10rem;
	margin: auto;
	display: inline-block; */
}
