/* Style on entire website */
* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

p {
	color: #40514e;
	font-weight: normal;
}

hr {
	width: 5%;
	border-style: dotted;
	border-width: 0.4rem;
	border-bottom: 0;
	color: gainsboro;
	margin: 2em auto 5em;
}

/* Main Page */

body {
	text-align: center;
}

.background {
	background-color: #eaf6f6;
	padding-top: 100px;
	position: relative;
}

.pro {
	text-decoration: underline;
}

.cloud-one {
	position: absolute;
	right: 250px;
}

.cloud-two {
	position: absolute;
	bottom: 350px;
	left: 350px;
}

.mountain {
	position: relative;
}

.main-text {
	position: relative;
	top: 100px;
	margin: 0 auto;
}

.background h2 {
	margin: 0 auto 7.5rem;
	font-weight: normal;
	line-height: 1.5;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 5.7rem;
	color: #66bfbf;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	color: #66bfbf;
}

h3,
a {
	font-family: 'Montserrat', sans-serif;
	color: #11999e;
}

/* Profile */

.profile h2 {
	line-height: 2;
}

.profile img {
	margin: 4rem 0 2rem 0;
}

.profile p {
	width: 30%;
	margin: 2em auto 5em auto;
}

/* Skills */

.middle-container {
	text-align: center;
}

.skill-row {
	margin: 100px auto;
	text-align: left;
	width: 50%;
}

.skill-row h3 {
	padding: 1.5em 0;
}

.skill-row p {
	line-height: 2;
}

.skill-row img {
	width: 25%;
}

.skill-row .skill-image-one {
	float: left;
	margin-right: 20px;
}

.skill-row .skill-image-two {
	float: right;
	margin-left: 20px;
}

/* Contact Me */
.contact-me h3,
.contact-me p {
	padding-top: 2%;
	width: 30%;
	margin: auto;
}

.contact-me .btn {
	line-height: 5;
	background-color: #11999e;
	border-radius: 10%;
	color: white;
	display: inline-block;
	padding: 0 1rem;
	margin: 2em auto 5rem;
	text-decoration: none;
	font-weight: bold;
}
/* Bottom Container */

.bottom-container {
	background-color: #66bfbf;
}

.bottom-container a {
	display: inline-block;
	color: #11999e;
	padding: 0 2em;
	margin-top: 2em;
	text-decoration: none;
	font-weight: bold;
}

.bottom-container p {
	color: white;
	padding: 3em;
}
